{% extends 'base.html' %} {% block content %}

<!-- SHAPE -->

<!-- FEATURES -->
<section class="bg-gradient-dark-black mt-n11 pt-12 pb-8">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-7 text-center">
        <!-- Heading -->
        <h2 class="display-3 fw-bold text-white">Visualization</h2>

        <!-- Text -->
        <p class="lead text-body-secondary mb-9">
          Berisi visualisasi data beserta perbandingan antara data lama dan
          setelah upload data baru
        </p>
      </div>
    </div>
    <!-- / .row -->
  </div>
</section>

<!-- PERBANDINGAN -->
<section class="pt-md-2 bg-black d-flex justify-content-center">
  <div class="rounded-3 m-2">
    <div
      class="card card-bleed shadow-light-lg mb-6 bg-dark"
      style="width: 500px; height: 305px"
    >
      <div class="card-header">
        <div class="row align-items-center">
          <div class="col">
            <!-- Heading -->
            <h4 class="display-5 fw-bold text-white mb-0">Data Lama</h4>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div style="width: 500px; height: 200px">
          <canvas id="dataLama"></canvas>
          <script></script>
        </div>
      </div>
    </div>
  </div>
  <div class="rounded-3 m-2">
    <div
      class="card card-bleed shadow-light-lg mb-6 bg-dark"
      style="width: 500px; height: 305px"
    >
      <div class="card-header">
        <div class="row align-items-center">
          <div class="col">
            <!-- Heading -->
            <h4 class="display-5 fw-bold text-white mb-0">
              Setelah upload data baru
            </h4>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div style="width: 500px; height: 200px">
          <canvas id="dataBaru"></canvas>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- DATA BARU UPLOAD -->

<!-- PLACEMENT RATES -->
<section class="py-10 py-md-11 bg-black">
  <!-- BORDER -->

  <!-- FOOTER -->
  <footer class="py-8 py-md-11 bg-black">
    <!-- BORDER -->
    <div class="bg-black">
      <div class="container border-top border-gray-900 border-opacity-50"></div>
    </div>
  </footer>

  <script>
    // data lama
    const iyaLama = {{ ya_lama }};
            const tidakLama = {{ tidak_lama }};
            const labels = ['Churn']; // Label diubah menjadi array dengan satu nilai 'Churn'

            // Data churn dengan dua kategori: Tidak (biru) dan Iya (merah)
            const data = {
              labels: labels,
              datasets: [
                {
                  label: 'Tidak',
                  data: [tidakLama], // Persentase "Tidak"
                  borderColor: 'rgba(54, 162, 235, 1)',
                  backgroundColor: 'rgba(54, 162, 235, 0.5)',
                  borderWidth: 2,
                  borderRadius: 5,
                  borderSkipped: false,
                },
                {
                  label: 'Churn',
                  data: [iyaLama], // Persentase "Iya"
                  borderColor: 'rgba(255, 99, 132, 1)',
                  backgroundColor: 'rgba(255, 99, 132, 0.5)',
                  borderWidth: 2,
                  borderRadius: 5,
                  borderSkipped: false,
                },
              ],
            };

            new Chart(document.getElementById('dataLama'), {
              type: 'bar',
              data: data,
              options: {
                indexAxis: 'y', // Bar horizontal
                elements: {
                  bar: {
                    borderWidth: 2,
                  },
                },
                responsive: true,
                plugins: {
                  legend: {
                    labels: {
                      color: 'white', // Mengatur warna tulisan legend menjadi putih
                      font: {
                        size: 14, // Ukuran font untuk legend
                      },
                    },
                  },
                  datalabels: {
                    display: true, // Menampilkan nilai persentase di setiap batang
                    color: 'white', // Mengubah warna data label menjadi putih
                    align: 'center',
                    anchor: 'center',
                    formatter: (value) => value + '%', // Menampilkan persentase
                  },
                },
                scales: {
                  x: {
                    stacked: true,
                    ticks: {
                      display: false, // Menghilangkan label angka di sumbu X
                    },
                    grid: {
                      display: false, // Menghilangkan garis grid di sumbu X
                    },
                  },
                  y: {
                    stacked: true,
                    ticks: {
                      display: false, // Menghilangkan label angka di sumbu Y
                    },
                    grid: {
                      display: false, // Menghilangkan garis grid di sumbu Y
                    },
                  },
                },
              },
              plugins: [ChartDataLabels], // Plugin untuk menampilkan data di dalam bar
            });

    // data gabungan setelah upload data baru
    const iyaBaru = {{ ya_baru }};
    const tidakBaru = {{ tidak_baru }};
    const label = ['Churn']; // Label diubah menjadi array dengan satu nilai 'Churn'

    // Data churn dengan dua kategori: Tidak (biru) dan Iya (merah)
    const data1 = {
      labels: label,
      datasets: [
        {
          label: 'Tidak',
          data: [tidakBaru], // Persentase "Tidak"
          borderColor: 'rgba(54, 162, 235, 1)',
          backgroundColor: 'rgba(54, 162, 235, 0.5)',
          borderWidth: 2,
          borderRadius: 5,
          borderSkipped: false,
        },
        {
          label: 'Churn',
          data: [iyaBaru], // Persentase "Iya"
          borderColor: 'rgba(255, 99, 132, 1)',
          backgroundColor: 'rgba(255, 99, 132, 0.5)',
          borderWidth: 2,
          borderRadius: 5,
          borderSkipped: false,
        },
      ],
    };

    new Chart(document.getElementById('dataBaru'), {
      type: 'bar',
      data: data1,
      options: {
        indexAxis: 'y', // Bar horizontal
        elements: {
          bar: {
            borderWidth: 2,
          },
        },
        responsive: true,
        plugins: {
          legend: {
            labels: {
              color: 'white', // Mengatur warna tulisan legend menjadi putih
              font: {
                size: 14, // Ukuran font untuk legend
              },
            },
          },
          datalabels: {
            display: true, // Menampilkan nilai persentase di setiap batang
            color: 'white', // Mengubah warna data label menjadi putih
            align: 'center',
            anchor: 'center',
            formatter: (value) => value + '%', // Menampilkan persentase
          },
        },
        scales: {
          x: {
            stacked: true,
            ticks: {
              display: false, // Menghilangkan label angka di sumbu X
            },
            grid: {
              display: false, // Menghilangkan garis grid di sumbu X
            },
          },
          y: {
            stacked: true,
            ticks: {
              display: false, // Menghilangkan label angka di sumbu Y
            },
            grid: {
              display: false, // Menghilangkan garis grid di sumbu Y
            },
          },
        },
      },
      plugins: [ChartDataLabels], // Plugin untuk menampilkan data di dalam bar
    });

    // data baru
    const iyaLastest = {{ jumlah_iya }};
    const tidakLastest = {{ jumlah_tidak }};
    const label2 = ['Churn']; // Label diubah menjadi array dengan satu nilai 'Churn'

    // Data churn dengan dua kategori: Tidak (biru) dan Iya (merah)
    const data2 = {
      labels: label2,
      datasets: [
        {
          label: 'Tidak',
          data: [tidakBaru], // Persentase "Tidak"
          borderColor: 'rgba(54, 162, 235, 1)',
          backgroundColor: 'rgba(54, 162, 235, 0.5)',
          borderWidth: 2,
          borderRadius: 5,
          borderSkipped: false,
        },
        {
          label: 'Churn',
          data: [iyaBaru], // Persentase "Iya"
          borderColor: 'rgba(255, 99, 132, 1)',
          backgroundColor: 'rgba(255, 99, 132, 0.5)',
          borderWidth: 2,
          borderRadius: 5,
          borderSkipped: false,
        },
      ],
    };

    new Chart(document.getElementById('dataLastest'), {
      type: 'bar',
      data: data2,
      options: {
        indexAxis: 'y', // Bar horizontal
        elements: {
          bar: {
            borderWidth: 2,
          },
        },
        responsive: true,
        plugins: {
          legend: {
            labels: {
              color: 'white', // Mengatur warna tulisan legend menjadi putih
              font: {
                size: 14, // Ukuran font untuk legend
              },
            },
          },
          datalabels: {
            display: true, // Menampilkan nilai persentase di setiap batang
            color: 'white', // Mengubah warna data label menjadi putih
            align: 'center',
            anchor: 'center',
            formatter: (value) => value + '%', // Menampilkan persentase
          },
        },
        scales: {
          x: {
            stacked: true,
            ticks: {
              display: false, // Menghilangkan label angka di sumbu X
            },
            grid: {
              display: false, // Menghilangkan garis grid di sumbu X
            },
          },
          y: {
            stacked: true,
            ticks: {
              display: false, // Menghilangkan label angka di sumbu Y
            },
            grid: {
              display: false, // Menghilangkan garis grid di sumbu Y
            },
          },
        },
      },
      plugins: [ChartDataLabels], // Plugin untuk menampilkan data di dalam bar
    });
  </script>

  {% endblock %}
</section>
