{% extends 'base.html'%}

{% block content %}

<!-- START -->
<section class="bg-gradient-dark-black mt-n11 pt-12 pb-8">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-7 text-center">

        <!-- Heading -->
        <h2 class="display-3 fw-bold text-white">
          Churn Prediction
        </h2>

        <!-- Text -->
        <p class="lead text-body-secondary mb-9">
          Application
        </p>

      </div>
    </div> <!-- / .row -->
    <div class="row mt-n7 justify-content-center">
      <div class="col-12 col-sm-6 col-lg-4 mt-7">

        <!-- Card -->
        <div class="card h-100 bg-dark rounded-3">
          <div class="card-body p-5 pb-0 my-auto">

            <!-- Icon -->
            <div class="icon icon-xl">
              <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <g fill="none" fill-rule="evenodd">
                  <path d="M0 0h24v24H0z" />
                  <path
                    d="M6 2h12a1 1 0 011 1v9a1 1 0 01-1 1H6a1 1 0 01-1-1V3a1 1 0 011-1zm1.5 3a.5.5 0 000 1h6a.5.5 0 100-1h-6zm0 2a.5.5 0 000 1h3a.5.5 0 100-1h-3z"
                    fill="#FFFFFF" opacity="1" />
                  <path
                    d="M3.793 6.573L12 12.5l8.207-5.927a.5.5 0 01.793.405V17a2 2 0 01-2 2H5a2 2 0 01-2-2V6.978a.5.5 0 01.793-.405z"
                    fill="#7C69EF" />
                </g>
              </svg>
            </div>

          </div>
          <div class="card-body p-5">

            <!-- Heading -->
            <h3 class="fw-bold text-white">
              Prediksi Faktor Churn
            </h3>

            <!-- Text -->
            <p class="text-body-secondary mb-0">
              Mengidentifikasi faktor kunci penyebab churn
            </p>

          </div>
        </div>

      </div>

      <div class="col-12 col-sm-6 col-lg-4 mt-7">

        <!-- Card -->
        <div class="card h-100 bg-dark rounded-3">
          <div class="card-body p-5 pb-0 my-auto">

            <!-- Icon -->
            <div class="icon d-inline-flex p-3 rounded-circle bg-info text-white">
              <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <g fill="none" fill-rule="evenodd">
                  <path d="M0 0h24v24H0z" />
                  <path
                    d="M4.953 14.303l-1.906-.606C4.65 8.644 7.673 6 12 6c4.327 0 7.349 2.644 8.953 7.697l-1.906.606C17.688 10.023 15.377 8 12 8s-5.688 2.022-7.047 6.303zM12 8a1 1 0 100-2 1 1 0 000 2z"
                    fill="#335EEA" opacity=".3" />
                  <path
                    d="M5.732 6h3.439a3.001 3.001 0 015.658 0h3.439a2 2 0 110 2h-3.439a3.001 3.001 0 01-5.658 0H5.732a2 2 0 110-2zM12 8a1 1 0 100-2 1 1 0 000 2zM4 19a3 3 0 110-6 3 3 0 010 6zm0-2a1 1 0 100-2 1 1 0 000 2zm16 2a3 3 0 110-6 3 3 0 010 6zm0-2a1 1 0 100-2 1 1 0 000 2z"
                    fill="#335EEA" />
                </g>
              </svg>
            </div>

          </div>
          <div class="card-body p-5">

            <!-- Heading -->
            <h3 class="fw-bold text-white">
              Akurasi Model
            </h3>

            <!-- Text -->
            <p class="text-body-secondary mb-0">
              Dapat memprediksi churn hingga 80%
            </p>

          </div>
        </div>

      </div>
    </div> <!-- / .row -->
  </div>
</section>

<!-- ABOUT -->
<section class="pt-8 pt-md-11 bg-black">
  <div class="container">
    <div class="row align-items-center justify-content-between">
      <div class="col-12 col-md-6 col-lg-5">

        <!-- Heading -->
        <h2 class="display-3 fw-bold text-white mb-6 mb-md-7">
          Penjelasan Fitur
        </h2>

        <!-- Text -->
        <p class="text-body-secondary lead mb-5">
          <span class="text-white fw-bold">ID Customer.</span> ID dari Pelanggan untuk melakukan identifikasi
        </p>

        <!-- Text -->
        <p class="text-body-secondary lead mb-5 ">
          <span class="text-white fw-bold">Durasi Langganan.</span> Lama Pelanggan Berlangganan
        </p>

        <!-- Text -->
        <p class="text-body-secondary lead mb-5">
          <span class="text-white fw-bold">Jumlah Panggilan.</span> Lama Pelanggan Berlangganan
        </p>

        <!-- Text -->
        <p class="text-body-secondary lead mb-5">
          <span class="text-white fw-bold">Penggunaan Data.</span> Jumlah data internet yang di gunakan pelanggan
        </p>

        <!-- Text -->
        <p class="text-body-secondary lead mb-5">
          <span class="text-white fw-bold">Tagihan Rata - Rata.</span> Jumlah biaya tagihan rata - rataterhadap
          pelanggan
        </p>

        <!-- Text -->
        <p class="text-body-secondary lead mb-5">
          <span class="text-white fw-bold">Promosi Terakhir.</span> Penawaran terbaru kepada pelanggan
        </p>

        <!-- Text -->
        <p class="text-body-secondary lead mb-6">
          <span class="text-white fw-bold">Churn.</span> Pelanggan yang berhenti Berlangganan
        </p>

      </div>
      <div class="col-12 col-md-6">

        <!-- Media -->
        <div class="position-relative vw-md-50 pt-7 ps-7 ps-md-7 overflow-hidden"
          style="max-width: 900px; height: 400px;">

          <!-- Background -->
          <div class="position-absolute top-0 end-0 bottom-0 start-0 bg-gradient-multicolor rounded-4"></div>

          <!-- Image -->
          <img class="position-relative w-100 w-md-100" src="{{url_for('static',filename='img/data.png')}}" alt="..."
            style='top: 10%;'>

        </div>

      </div>
    </div> <!-- / .row -->
  </div>
</section>

<!-- ABOUT -->
<section class="pt-8 pt-md-11 bg-black">
  <div class="container">
    <div class="row align-items-center justify-content-between">
      <div class="col-12 col-md-6 col-lg-5 order-md-1">

        <!-- Heading -->
        <h2 class="display-4 fw-bold text-white mb-6 mb-md-8">
          Target Data Churn
        </h2>

        <!-- Text -->
        <p class="text-body-secondary lead mb-6">
          <span class="text-white fw-bold">Tidak Churn.</span> di lambangkan dengan angka "0".
        </p>

        <!-- Text -->
        <p class="text-body-secondary lead mb-7 mb-md-0">
          <span class="text-white fw-bold">Churn.</span> dilambangkan dengan angka "1".
        </p>

      </div>
      <div class="col-12 col-md-6 col-lg-6 order-md-0">

        <!-- Positioner -->
        <div class="position-relative">

          <!-- Media -->
          <div class="position-relative vw-md-50 p-7 p-md-9 ps-0 overflow-hidden float-end" style="max-width: 900px;">

            <!-- Background -->
            <div class="position-absolute top-0 end-0 bottom-0 start-0 bg-gradient-multicolor rounded-4"></div>


            <div class="position-relative col-4 mt-7 w-100 p-3 rounded-4 float-end bg-dark" style="width: 900px;">

              <div>
                <!-- Churn Chart -->
                <canvas id="churnChart"></canvas>
                <script src="{{url_for('static',filename='src/churn.js')}}"></script>
              </div>

            </div>
          </div>

        </div>
      </div> <!-- / .row -->
    </div>
</section>

<!-- PLACEMENT RATES -->
<section class="py-10 py-md-11 bg-black">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-8 col-lg-6">

        <!-- Preheading -->
        <h6 class="text-uppercase text-info">
          Detail Perhitungan data
        </h6>

        <!-- Heading -->
        <h2 class="display-3 fw-bold text-white">
          Churn Data Telkomsel
        </h2>

        <!-- Text -->
        <p class="text-body-secondary lead mb-6 mb-md-8">
          jumlah banyak nya sample data yang digunakan dalam model ini yang di jadikan uji dan test
        </p>

        <!-- Stats -->
        <div class="d-flex">
          <div class="pe-5">
            <h1 class="fw-bold text-white mb-0">
              <span data-countup='{"startVal": 0}' data-to="100" data-aos data-aos-id="countup:in">0</span>
            </h1>
            <p class="text-gray-700 mb-0">
              Data
            </p>
          </div>
          <div class="px-5">
            <h1 class="fw-bold text-white mb-0">
              <span data-countup='{"startVal": 0}' data-to="46" data-aos data-aos-id="countup:in">0</span>%
            </h1>
            <p class="text-gray-700 mb-0">
              Churn
            </p>
          </div>
          <div class="ps-5">
            <h1 class="fw-bold text-white mb-0">
              <span data-countup='{"startVal": "0"}' data-to="54" data-aos data-aos-id="countup:in">0</span>%
            </h1>
            <p class="text-gray-700 mb-0">
              Tidak Churn
            </p>
          </div>
        </div>

      </div>
    </div> <!-- / .row -->
  </div> <!-- / .container -->


  <!-- CTA -->
  <section class="py-10 py-md-14 bg-black">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-8 text-center">

          <!-- Pretitle -->
          <h6 class="text-uppercase text-info mb-6">
            Start Now
          </h6>

          <!-- Heading -->
          <h1 class="display-1 fw-bold text-white">
            Churn Prediction Model
          </h1>

          <!-- Text -->
          <p class="fs-lg text-gray-500 mb-6 mb-md-8">
            Untuk melihat bagaimana model bekerja tekan tombol di bawah ini
          </p>

          <!-- Button -->
          <a href="{{url_for('model_page')}}" class="btn btn-info lift">
            Jump to Model
          </a>

        </div>
      </div> <!-- / .row -->
    </div> <!-- / .container -->
  </section>

  <!-- BORDER -->
  <div class="bg-black">
    <div class="container border-top border-gray-900 border-opacity-50"></div>
  </div>


  {% endblock %}