{% extends 'base.html' %} {% block content %}

<!-- SHAPE -->

<!-- FEATURES -->
<section class="bg-gradient-dark-black mt-n11 pt-12 pb-8">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-7 text-center">
        <!-- Heading -->
        <h2 class="display-3 fw-bold text-white">Data Baru</h2>

        <!-- Text -->
        <p class="lead text-body-secondary mb-9">
          prediksi data baru dengan mengimput file .csv
        </p>

        <form
          action="{{ url_for('upload_file') }}"
          method="POST"
          enctype="multipart/form-data"
        >
          <input
            type="file"
            name="file"
            accept=".csv"
            required
            style="display: none"
            onchange="this.form.submit();"
          />
          <button
            type="button"
            class="btn btn-info"
            onclick="document.querySelector('input[type=file]').click();"
          >
            Upload CSV
          </button>
        </form>
      </div>
    </div>
    <!-- / .row -->
  </div>
</section>

<!-- ABOUT -->
<section class="pt-8 pt-md-7 bg-black row justify-content-center">
  <!-- table -->
  {% if df is not none %}
  <div class="table-responsive col-9">
    <table class="table table-dark">
      <thead>
        <tr>
          <th scope="col">No</th>
          <th scope="col">ID Pelanggan</th>
          <th scope="col">Durasi Langganan</th>
          <th scope="col">Jumlah Panggilan</th>
          <th scope="col">Penggunaan Data</th>
          <th scope="col">Tagihan Rata - Rata</th>
          <th scope="col">Promosi Terakhir</th>
          <th scope="col">Churn</th>
        </tr>
      </thead>
      <tbody>
        <!-- <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td>Ya</td>
          </tr> -->
        <!-- 'YA' if row['Promosi Terakhir'] == 1 else 'Tidak' -->
        {% for index, row in df.iterrows() %}
        <tr>
          <th scope="row">{{ loop.index }}</th>
          <td>{{ row['ID Pelanggan'] }}</td>
          <td>{{ row['Durasi Langganan (bulan)'] }}</td>
          <td>{{ row['Jumlah Panggilan'] }}</td>
          <td>{{ row['Penggunaan Data (GB)'] }}</td>
          <td>{{ row['Tagihan Rata-rata'] }}</td>
          <td>{{ row['Promosi Terakhir'] }}</td>
          <td>{{ row['Churn'] }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% else %}
  <p class="text-white">Belum ada data.</p>
  {% endif %}
</section>

<!-- PLACEMENT RATES -->
<section class="py-10 py-md-11 bg-black">
  <!-- BORDER -->

  <!-- FOOTER -->
  <footer class="py-8 py-md-11 bg-black">
    <!-- BORDER -->
    <div class="bg-black">
      <div class="container border-top border-gray-900 border-opacity-50"></div>
    </div>
  </footer>

  {% endblock %}
</section>
